<body>
  <div class="section"></div>
  <main>
    <center>

      <div class="container col s12">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
<h1>New Offer</h1>

<%= render 'form' %>

<%= link_to 'Back', offers_path %>
</div>
</div>
</center>
</main>
</body>
